{% extends 'base.html' %}

<body>

{% block main %}
<h1> Facts about Nora: </h1>
<ul>
    <li><a href="index">Hates Jeff Bezos</a></li>
    <li><a href="nora">Is Very Cool</a></li>
</ul>

<p> your number times 2: {{ number }}</p>

<form action="/nora" method="post">
    {{ form.csrf_token }}
    {{ form.title.label }}
    {{ form.title }}
    {{ form.submit }}
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <hr>
      {{ message }}
    <hr>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}

</body>